# document files and images
*.txt
*.pdf
*.mdj
*.docx
/*.png
/*.jpg
/*.jpeg
*.json
*.webp
*.weights
*.hwp

# not yet
ingredient_detector/
논문/
Dockerfile
yolo_makr/

# 데이터 json 파일만 포함
!/recipe_db_generator/dataset/*.json
!캡스톤디자인2 보고서.hwp
